#startQuiz {
    margin-top:200px;
    height:150px;
    width:250px;
}
.sQ {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
    font-weight:bold;
    margin:auto;
    text-align:center;
}
.questionColor{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
    font-weight:bold;
    text-align:center;
    color:seagreen;
}
#questionBox {
    background-color:black;
}
#answerBTN {
    background-color:#48371C;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    color:whitesmoke;
    min-width:32%;
    max-width:32%;
}
#scoreCard, #nameEnter {
    top:15%;
    bottom:15%;
    left:15%;
    right:15%;
    background-color:black;
    border: 3px solid green;
}
#nameTitle {
    Color:turquoise;
    font-size:50px;
    text-align:center;
}
#finalScore {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:35px;
    color:violet;
    text-align:center;
}
#highscores {
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-size:25px;
    color:turquoise;
    list-style-type:none;
    padding: 0;
}
#highscores li:nth-of-type(1n+5) {
    display: none;
  }
#eI {
    background-color: #48371C;
}
#info-text{
    border: 3px solid rgb(248, 246, 99);
    background-color: black;
    color:turquoise;
}
#personalScore {
    font-size: 25px;
    color:rgb(250, 248, 120)
}
#tScore {
    font-size:35px;
    color:turquoise;
}